.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .empty-cart-image {
    width: 500px;
    height: 500px;
  }
}

.cart-item {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 5px 0;
    font-size: 14px;
    color: #dc3545;
    font-weight: 600;
  }
}

.quantity-controls {
  margin-top: 10px;

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
  }

  input {
    width: 50px;
    text-align: center;
  }

  .add-quantity {
    margin-left: 5px;
  }
}

.quantity-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;

  h3 {
    margin: 0;
    font-size: 20px;
  }
}

.clear-cart-button,
.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
}

.checkout-button {
  background-color: #007bff;
  margin-left: 10px;
}

.clear-cart-button:hover,
.checkout-button:hover {
  opacity: 0.8;
}
